main {
    display: flex;
    flex-direction: column;
}

#mainLoading[hidden] {
    display: none;
}

main[hidden] {
    display: none;
}

main #pagination {
    align-self: center;
}

main * + * {
    margin-bottom: 24px;
}